In [7]:
def say_hallo():
    print("hello")
    print("my name")
    print("ist boris")

In [8]:
say_hallo()

hello
my name
ist boris

In [10]:
def say_hello(name):
    print(f"hello {name}")

In [11]:
say_hello("boris")

hello boris

In [12]:
def say_hello(name = "default"):
    print(f"hello {name}")

In [13]:
say_hello()

hello default

In [24]:
def add_num(num1 , num2):
    return num1 + num2

In [26]:
add_num(10,20)

30

result = add_num(10,20)

In [27]:
result

30

In [32]:
def even_check(number):
    result = number%2 == 0
    return result

In [33]:
even_check(20)

True

In [36]:
def even_check_1(number):
    return number%2 == 0

In [37]:
even_check_1(20)

True

In [43]:
def check_even_list(my_list):
    for number in my_list:
        if number%2 == 0:
            return True
        else:
            pass
    return False

In [44]:
check_even_list([1, 3, 5])

False

In [45]:
check_even_list([1, 4, 5])

True

In [46]:
check_even_list([2, 1, 5])

True

In [47]:
check_even_list([1, 3, 6])

True

In [52]:
def check_even_list_2(my_list):
    # return all the even number in a list
    # create a plceholder
    
    eve_numbers = []
    
    for number in my_list:
        if number%2 == 0:
            eve_numbers.append(number)
        
    return eve_numbers

In [53]:
check_even_list_2([1, 2, 3, 4, 5])

[2, 4]

In [57]:
check_even_list_2([1, 3, 5])

[]

## Tuple

In [63]:
stock_prices =  [("APPL", 200),("GOOG", 400),("MSFT", 100)]

In [64]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [66]:
for ticker, price in stock_prices:
    print(ticker)

APPL 200
GOOG 400
MSFT 100

In [81]:
work_hours =  [("Abby", 100),("Billy", 4000),("Cassie", 800)]

In [82]:
def employe_check(work_hours):
    current_max = 0
    employee_of_month = ""
    
    for enployee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = enployee
        else:
            pass
             
    return (current_max , employee_of_month)

In [83]:
employe_check(work_hours)

(4000, 'Billy')

In [87]:
result_3 = employe_check(work_hours)

In [90]:
result_3

(4000, 'Billy')

In [88]:
item = employe_check(work_hours)

In [89]:
item

(4000, 'Billy')

In [91]:
example = [1,2,3,4,5,6,7]

In [92]:
from random import shuffle

In [93]:
shuffle(example)

In [94]:
example

[2, 7, 1, 6, 4, 3, 5]

In [100]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [102]:
result_5 = shuffle_list(example)

In [103]:
result_5

[7, 4, 2, 5, 3, 1, 6]

In [111]:
mylist = [" ", "O", " "]

In [114]:
shuffle_list(mylist)

[' ', ' ', 'O']

In [118]:
def my_func(a,b):
    return sum((a,b))*0.05

In [119]:
my_func(40,60)

5.0

In [122]:
def my_func(*args):
    return sum(args)* 0.05

In [123]:
my_func(10,30,30,20)

4.5

In [130]:
def my_func(*args):
    for item in args:
        print(item)

In [131]:
my_func(10,30,30,20)

10
30
30
20