In [1]:
def lesser_of_two_evens(a,b):
    if a&2 == 0 and b&2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
lesser_of_two_evens(4,2)

4

In [3]:
def string_1(x,y):
    if x[0] == y[0]:
        return True
    else:
        return False

In [4]:
string_1("boris","junior")

False

In [5]:
def animal_crackers(text):
    wordlist = text.split()
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False

In [6]:
animal_crackers('Levelheaded Llama')

True

In [7]:
animal_crackers('Crazy Kangaroo')

False

In [8]:
def animal_crackers_1(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [9]:
animal_crackers_1('Levelheaded Llama')

True

In [10]:
animal_crackers_1('Crazy Kangaroo')

False

In [11]:
def sum_1(a,b):
    if (a + b == 20):
        return True
    elif a == 20 or b == 20:
        return True
    else:
        return False

In [12]:
sum_1(10,15)

False

In [13]:
sum_1(5,15)

True

In [14]:
sum_1(20,10)

True

In [15]:
sum_1(12,8)

True

In [16]:
sum_1(2,3)

False

In [17]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [18]:
def old_macdonald(x):
    return "x".capitalize() and "x".capitalize()

In [19]:
old_macdonald("junior")

'X'

In [20]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [21]:
old_macdonald("junior")

'JunIor'

In [22]:
old_macdonald('macdonald')

'MacDonald'

In [23]:
x = " mein name ist boris tondjua thibaut"

In [24]:
x = " mein name ist boris tondjua thibaut"

In [25]:
x_1

['mein', 'name', 'ist', 'boris', 'tondjua', 'thibaut']

In [26]:
x_1[:3]

['mein', 'name', 'ist']

In [27]:
x_1[3:]

['boris', 'tondjua', 'thibaut']

In [28]:
def master_yoda_1(text):
    return text[::-1]

In [29]:
master_yoda_1('We are ready')

'ydaer era eW'

In [30]:
master_yoda_1('I am home')

'emoh ma I'

In [31]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [32]:
master_yoda('We are ready')

'ready are We'

In [33]:
master_yoda('I am home')

'home am I'

In [34]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [35]:
almost_there(90) #--> True

True

In [36]:
almost_there(104)

True

In [37]:
almost_there(150)#--> False

False

In [38]:
almost_there(209) #--> True

True

### LEVEL 2 PROBLEMS Level 2 - these may require iterating over sequences, usually with some kind of loop

In [39]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        if nums[i] == 3 and nums[i+1] == 3:
    
        #if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [40]:
# Check
has_33([1, 3, 3])

True

In [41]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [42]:
def has_test(nums):
    for i in range(0, len(nums)-1):
        print(nums)

In [43]:
has_test([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [44]:
def has_test_1(nums):
    for i in range(0, len(nums)):
        print(nums)

In [45]:
has_test_1([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]