In [1]:
def income_money(money_per_hour, number_of_day):
    result = (money_per_hour * 10.45) * number_of_day + number_of_day*6
    return result

In [2]:
income_money(8 , 20)

1792.0

### 50 Python Tipp and trick

In [3]:
a , b = 5 , 10
print(a , b)

5 10

In [4]:
import webbrowser
# webbrowser.open("https://www.oth-regensburg.de/")# will open this website

In [5]:
msg = " this is a really" \
    "long string"
print(msg)

 this is a reallylong string

In [6]:
if "you" in "youtube":
    print("youtube".index("you"))

0

In [7]:
data1 = {"boris" : 1}
data2 = data1
data2["hermann"] = 10
print(id(data1))
print(id(data2))
print(data2)

2516940462144
2516940462144
{'boris': 1, 'hermann': 10}

In [8]:
def change_list(data):
    data = ["new"]

In [9]:
def change_list_data(data):
    data[:] = ["new"]

In [10]:
name = "boris"
age = 20
liste1 = ["python" , "java" , "c++"]

In [11]:
print(name , age, liste1)

boris 20 ['python', 'java', 'c++']

In [12]:
reputation = 20
status = None
status = "admin" if reputation > 15 else "user"

In [13]:
print(status)

admin

In [14]:
def move_position(x, y, z):
    print(f" moving caracter to {x} {y} {z} ")

In [15]:
data = [10 , 20,  30]
move_position(*data) # data unpacting

 moving caracter to 10 20 30

In [16]:
def move_position_1(x, y, z):
    pass

In [17]:
liste2 = ["python" , "java" , "c++" ,"python" "fortran" , "c++" , "java"]
print(set(liste2))# a set doesnt have a duplicate

{'python', 'pythonfortran', 'c++', 'java'}

In [18]:
liste2 = ["python" , "java" , "c++" ,"python" "fortran" , "c++" , "java"]
print(list(set(liste2)))# a set doesnt have a duplicate

['python', 'pythonfortran', 'c++', 'java']

In [19]:
weather = "sonny"
if weather in ["sonny" , "stormy" , "snowy"]:
    print("cancel")

cancel

In [20]:
Names = ["boris" , "Thibaut"]
full_name = " ".join(Names).upper()
full_name

'BORIS THIBAUT'

In [21]:
Names = ["boris" , "Thibaut"]
full_name = " ".join(Names).lower()
full_name

'boris thibaut'

In [22]:
Names = ["boris" , "Thibaut"]
full_name = " ".join(Names).title()
full_name

'Boris Thibaut'

In [24]:
# while True:
#    print("do something")
#    if condition:
#        break

## Python Courae Youtube 12 hour coding

In [23]:
boris = 30
thibaut = 30
junior = 30

In [24]:
print(boris)
print(thibaut)
print(junior)

30
30
30

In [25]:
boris = thibaut = junior = 20

In [26]:
print(boris)
print(thibaut)
print(junior)

20
20
20

In [27]:
age = int(input("how old are you :"))
if age >= 18:# that will be check first
    print("you are an adult")
elif age == 100:
    print("you are a century old")
elif age < 0:
    print("you have been born yet")
else:
    print("you are a child")

how old are you :20
you are an adult

In [28]:
age = int(input("how old are you :"))

if age == 100:# that will be check first
    print("you are a century old")
elif age >=  10:
    print("you are an adult")
elif age < 0:
    print("you have been born yet")
else:
    print("you are a child")

how old are you :10
you are an adult

In [29]:
name = ""
while len(name) == 0:
    name = input("Enter your name:")
    print("hello" + " " + name)

Enter your name:junior
hello junior

In [30]:
# Nated loops = the inner loop will finish all of its iterations before finishing one ieration of
# the outer loop
rows =int(input("how many rows :"))
columns = int(input("how manx columns:"))
symbol = input(" Enter a symbol:")

for i in range(rows):
    for j in range(columns):
        print(symbol , end ="" )
    print()

how many rows :4
how manx columns:4
 Enter a symbol:#
####
####
####
####

In [31]:
# Nated loops = the inner loop will finish all of its iterations before finishing one ieration of
# the outer loop
rows =int(input("how many rows :"))
columns = int(input("how manx columns:"))
symbol = input(" Enter a symbol:")

for i in range(rows):
    for j in range(columns):
        print(symbol)
    print()

how many rows :2
how manx columns:2
 Enter a symbol:#
#
#

#
#

In [32]:
# loop control Statements = change a loops execution from its normal sequence
# break = use to terminate the loop entirely
# continue = skip to the next iteration of the loop
# pass = does nothing, acts as a placeholder
while True:
    name = input("Enter your name:")
    if name != "": # "" ist the empty string and is different from " " hier we have a white space
        break

Enter your name:junior

In [34]:
phone_number = "74-81-46-15"
for i in phone_number:
    if i == "-":
        continue
print(i) # print only the last value

5

In [35]:
phone_number = "74-81-46-15"
for i in phone_number:
    if i == "-":
        continue
    print(i) # print line by line

7
4
8
1
4
6
1
5

In [36]:
phone_number = "74-81-46-15"
for i in phone_number:
    if i == "-":
        continue
    print(i, end="") # print all the caracters in one line

74814615

In [39]:
for i in range(1, 5):
    if i == 2:
        pass
    print(i)

1
2
3
4

In [40]:
for i in range(1, 5):
    if i == 2:
        pass
print(i)

4

In [41]:
for i in range(1, 5):
    if i == 2:
        pass
    print(i, end="")

1234

In [42]:
#2D list = a list of a list
name =["boris" , "thibaut" , "junior"]
City = ["younde" , "douala" , "Bafang"]
Country = ["Cameroun" , "Germany" , "Gabon"]

In [43]:
final = [name , City , Country]
print(final)

[['boris', 'thibaut', 'junior'], ['younde', 'douala', 'Bafang'], ['Cameroun', 'Germany', 'Gabon']]

In [44]:
print(final[0][1])

thibaut

In [45]:
dictionary = {"name" : "boris",
              "city" : "younde",
              "age" : 30
             }

In [46]:
print(dictionary.get("country"))# better way to check if you have a key in your Dictionary

None

In [47]:
dictionary.keys()

dict_keys(['name', 'city', 'age'])

In [48]:
dictionary.values()

dict_values(['boris', 'younde', 30])

In [49]:
dictionary.items()

dict_items([('name', 'boris'), ('city', 'younde'), ('age', 30)])

In [50]:
for key , value in dictionary.items():
    print(key, value)

name boris
city younde
age 30

In [51]:
def add(*args):
    summe = 0
    for i in args:
        summe += i
        print(i)
        print(summe)
    return summe
# * args = parameters that will pack all arguments into a tuple
# useful so that a function can accept everything amount ofarguments

In [52]:
print(add(1, 2, 3, 4))

1
1
2
3
3
6
4
10
10

In [54]:
def add(*args):
    summe = 0
    for i in args:
        summe += i
    print(i)
    print(summe)
    return summe
# * args = parameters that will pack all arguments into a tuple
# useful so that a function can accept everything amount ofarguments

In [55]:
print(add(1, 2, 3, 4))

4
10
10

In [64]:
def add(*args):
    summe = 0
    args = list(args) # casting
    for i in args:
        summe += i
    return summe

In [65]:
print(add(1, 2, 3, 4))

10

In [56]:
# *kwargs = parameter that will pack all arguments into dictionary 
# useful so that a function can accept a varying amount of keyword argument

In [57]:
# Exeption = events detected during execution that interrupt the flow of a programm
try:
    numerator = int(input("Enter a number to divide :"))
    denominator = int(input("Enter a number to divide by:"))
    result = numerator/denominator
except ZeroDivisionError:
    print("you cannot divide by zero idiot ")
except ValueError:
    print("Enter only a number")
except Exception:
    print("something went wrong:")

Enter a number to divide :50
Enter a number to divide by:12

In [58]:
# Exeption = events detected during execution that interrupt the flow of a programm
try:
    numerator = int(input("Enter a number to divide :"))
    denominator = int(input("Enter a number to divide by:"))
    result = numerator/denominator
except ZeroDivisionError as e:
    print(e)
    print("you cannot divide by zero idiot ")
except ValueError as e:
    print(e)
    print("Enter only a number")
except Exception as e:
    print(e)
    print("something went wrong:")

Enter a number to divide :12
Enter a number to divide by:14

In [59]:
# Exeption = events detected during execution that interrupt the flow of a programm
try:
    numerator = int(input("Enter a number to divide :"))
    denominator = int(input("Enter a number to divide by:"))
    result = numerator/denominator
except ZeroDivisionError as e:
    print(e)
    print("you cannot divide by zero idiot ")
except ValueError as e:
    print(e)
    print("Enter only a number")
except Exception as e:
    print(e)
    print("something went wrong:")
else:
    print(result)

Enter a number to divide :15
Enter a number to divide by:25
0.6

In [60]:
# Exeption = events detected during execution that interrupt the flow of a programm
try:
    numerator = int(input("Enter a number to divide :"))
    denominator = int(input("Enter a number to divide by:"))
    result = numerator/denominator
except ZeroDivisionError as e:
    print(e)
    print("you cannot divide by zero idiot ")
except ValueError as e:
    print(e)
    print("Enter only a number")
except Exception as e:
    print(e)
    print("something went wrong:")
else:
    print(result)
finally:
    print("this will be always execute")

Enter a number to divide :12
Enter a number to divide by:14
0.8571428571428571
this will be always execute

In [61]:
import os

In [62]:
path = "C:\\Users\\Tondjua\\Desktop\\text.txt"
if os.path.exists(path):
    print("this location exist")
else:
    print("this location does not exist")

this location does not exist

In [63]:
path = "C:\\Users\\Tondjua Thibaut\\Desktop\\Text.txt"
if os.path.exists(path):
    print("this location exist")
    if os.path.isfile:
        print("this is a file")
else:
    print("this location does not exist")

this location does not exist

In [64]:
# Higher Order Function = a function that either :
#                        1. accepts a function as an argument 
#                        or
#                        2. returns a function
#                       (In python , functions are also treated as object)

In [65]:
def loud(text):
    return text.upper()
def quiet(text):
    return text.lower()
def hello(func):
    text = func("hello")
    print(text)

In [66]:
print(hello)
hello(loud)
hello(quiet)

<function hello at 0x0000024A05573820>
HELLO
hello

In [67]:
# Lambda expression = function written in 1 line using lambda keyword
#                   accept any number of arguments, but only have one expression
#                  (think of it as a schortcut)
#                  (useful if needed for a short period of time , throw away)

In [68]:
double = lambda x : x + 2
print(double(2))

4

In [69]:
full_name = lambda first_name , last_name : first_name + " " + last_name
print(full_name("boris" , "junior"))

boris junior

In [70]:
age_check = lambda age: True if age >= 18 else False
print(age_check(10))

False

In [71]:
students = [("Tondjua" , "B", 10), ("Boris", "A" ,  20) ,("Junior", "D" , 40), ("Thibaut" , "F" , 55)]
students.sort()

In [72]:
print(students)

[('Boris', 'A', 20), ('Junior', 'D', 40), ('Thibaut', 'F', 55), ('Tondjua', 'B', 10)]

In [73]:
grade = lambda grades : grades[1]
students.sort(key = grade)
for i in students:
    print(i)

('Boris', 'A', 20)
('Tondjua', 'B', 10)
('Junior', 'D', 40)
('Thibaut', 'F', 55)

In [74]:
age = lambda ages : ages[2]
students.sort(key = age)
for i in students:
    print(i)

('Tondjua', 'B', 10)
('Boris', 'A', 20)
('Junior', 'D', 40)
('Thibaut', 'F', 55)

In [75]:
age = lambda ages : ages[2]
students.sort(key = age, reverse = True)
for i in students:
    print(i)

('Thibaut', 'F', 55)
('Junior', 'D', 40)
('Boris', 'A', 20)
('Tondjua', 'B', 10)

In [76]:
# map() = applies a function to each item in an iterable(list , tuple, ect...)
# map(function, iterable)
store = [("shirt", 20) , ("pants", 25) , ("jacket", 50) , ("socks", 10)]
to_eure = lambda data : (data[0] , data[1]*0.82)
store_euros = map(to_eure, store)
for i in store_euros:
    print(i)

('shirt', 16.4)
('pants', 20.5)
('jacket', 41.0)
('socks', 8.2)

In [77]:
# map() = applies a function to each item in an iterable(list , tuple, ect...)
# map(function, iterable)
store_1 = [("shirt", 20) , ("pants", 25) , ("jacket", 50) , ("socks", 10)]
to_eure_1 = lambda data : (data[0] , data[1]*0.82)
store_euros_1 = list(map(to_eure_1, store_1))
for i in store_euros_1:
    print(i)

('shirt', 16.4)
('pants', 20.5)
('jacket', 41.0)
('socks', 8.2)

In [78]:
# filter = creates a collecwhich a function return Truetionof elements from an iterable for 
# filter(function , iterable)
friends = [("tondjua", 20) , ("boris" , 18) , ("thibaut" , 25), ("junior" , 16) , ("larissa", 22)]
age = lambda ages: ages[1] >= 18
drinking_friends = list(filter(age , friends))
for i in drinking_friends:
    print(i)

('tondjua', 20)
('boris', 18)
('thibaut', 25)
('larissa', 22)

In [79]:
# List comprehension = a way to create a new list with less snytx
#                     can mimi certain Lambda functions, easier to read
#                   list = [expression for item in iterable]
#                   list = [expression for item in iterable if conditional]
#                   list = [expression if/else for item in iterable ]

In [80]:
Students = [10, 20, 35, 45, 65 ]
passed_students = list(filter(lambda x : x>= 18 , Students))
print(passed_students)

[20, 35, 45, 65]

In [81]:
passed_students = [list(filter(lambda x : x>= 18 , Students)) for i in Students]
print(passed_students) # the Code ist False hier

[[20, 35, 45, 65], [20, 35, 45, 65], [20, 35, 45, 65], [20, 35, 45, 65], [20, 35, 45, 65]]

In [82]:
passed_students = [i for i in Students if i<= 18]
print(passed_students)

[10]

In [83]:
passed_students = [i if i >= 60 else "failled" for i in Students if i<= 18]
print(passed_students)

['failled']

In [93]:
import random

In [94]:
# Dictionary Comprehension = create dictionaries using an expression
#                           can replace for loops and certain lambda function
# Dictionary = {key : expression for (key , value) in iterable }
# Dictionary = {key : expression for (key , value) in iterable if condition}
# Dictionary = {key : (if/else)  for (key , value) in iterable }
# Dictionary = {key : function(value) expression for (key , value) in iterable }

In [95]:
cities_in_F = {"new york": 32, "boston" : 75, "Los angeles" : 100, "Chicago":50}

In [96]:
cities_in_C = {key: round((value-32)*(6/9)) for (key, value) in cities_in_F.items()}
print(cities_in_C)

{'new york': 0, 'boston': 29, 'Los angeles': 45, 'Chicago': 12}

In [97]:
cities_in_F = {"new york": "snowing", "boston" : "sunny", "Los angeles" : "sunny", "Chicago":"snowing"}

In [98]:
sunny_weather = {key: value for (key, value) in cities_in_F.items() if value == "sunny"}
print(sunny_weather)

{'boston': 'sunny', 'Los angeles': 'sunny'}

In [99]:
cities_in_F = {"new york": 32, "boston" : 75, "Los angeles" : 100, "Chicago":50}
desc_dictionary ={key: ("WARM" if value >= 40 else "COLD") for (key, value) in cities_in_F.items()}
print(desc_dictionary)

{'new york': 'COLD', 'boston': 'WARM', 'Los angeles': 'WARM', 'Chicago': 'WARM'}

In [100]:
def check_temp(value):
    if value >= 70:
        return "HOT"
    elif 69 >= value >= 40:
        return "WARM"
    else:
        return "COLD"

In [101]:
cities_in_F = {"new york": 32, "boston" : 75, "Los angeles" : 100, "Chicago":50}
desc_dictionary_check ={key: check_temp(value) for (key, value) in cities_in_F.items()}
print(desc_dictionary_check)

{'new york': 'COLD', 'boston': 'HOT', 'Los angeles': 'HOT', 'Chicago': 'WARM'}

In [102]:
# zip(*iterables) = aggregate elements from or more iterables (list , tuples, sets, ect...)
#                 creates a zip object with paired elements stored in tuples for each elements

In [103]:
usernames = ["boris" , "thibaut" , "junior"]
villes  = ["yaounde" , "douala" , "bafang"]

In [104]:
users = zip(usernames , villes)
print(type(users))
for i in users:
    print(i)

<class 'zip'>
('boris', 'yaounde')
('thibaut', 'douala')
('junior', 'bafang')

In [105]:
users = list(zip(usernames , villes))
print(type(users))
for i in users:
    print(i)

<class 'list'>
('boris', 'yaounde')
('thibaut', 'douala')
('junior', 'bafang')

In [106]:
users = dict(zip(usernames , villes))
print(type(users))
for key , value in users.items():
    print(key+ " : "+ value)

<class 'dict'>
boris : yaounde
thibaut : douala
junior : bafang

In [107]:
usernames1 = ["boris" , "thibaut" , "junior"]
ages  = [10 , 20 , 40]

In [108]:
users = dict(zip(usernames1 , ages))
print(type(users))
for key , value in users.items():
    print(key , value)

<class 'dict'>
boris 10
thibaut 20
junior 40

In [109]:
usernames = ["boris" , "thibaut" , "junior"]
villes  = ["yaounde" , "douala" , "bafang"]
ages  = [10 , 20 , 40]

In [110]:
users = zip(usernames , villes, ages)
print(type(users))
for i in users:
    print(i)

<class 'zip'>
('boris', 'yaounde', 10)
('thibaut', 'douala', 20)
('junior', 'bafang', 40)

In [111]:
# epoch = a date and time from which a computer measures system time
import time

In [112]:
print(time.ctime(0))

Thu Jan  1 01:00:00 1970